$color-white: #ffffff;
$color-gallery: #f0f0f0;
$color-boulder: #777777;
$color-athens-gray: #f9fafb;
$color-cinnabar: #e74c3c;
$color-curious-blue: #3498db;
$color-shamrock: #2ecc71;

$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 768px;
$breakpoint-xs: 500px;
