.contact {
  display: grid;
  grid-gap: $gutter-sm;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(40rem, auto);

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }

  &__form {
    background-image: url('assets/contact-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3rem 20rem 5rem;
    grid-template-areas:
      'name email subject'
      'message message message'
      'send . .';
    grid-gap: $gutter-md;
    padding: 8rem;

    @media (max-width: $breakpoint-sm) {
      padding: 3rem;
      grid-template-areas:
        'name name name'
        'email email email'
        'subject subject subject'
        'message message message'
        'send send send';
    }
  }
  &__card {
    background-image: url('assets/contact-right-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-gap: $gutter-sm;
    place-items: center;
    align-content: center;
  }

  &__icon {
    display: grid;
    place-items: center;
    border: 1px solid $color-white;
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
  }

  &__text {
    color: $color-white;
    font-size: $font-size-content-highlight;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__input {
    background-color: $color-alabaster-trans;
    border-bottom: 2px solid $color-white;
    padding: 2rem;
    color: $font-color-bright;

    &::placeholder {
      font-size: $font-size-sub-text;
      font-weight: 300;
      color: $font-color-bright;
      opacity: 0.5;
    }
  }

  &__name {
    grid-area: name;
  }
  &__email {
    grid-area: email;
  }
  &__subject {
    grid-area: subject;
  }
  &__area {
    grid-area: message;
    padding: 2rem;
    background-color: $color-alabaster-trans;
    border-bottom: 2px solid $color-white;

    &::placeholder {
      font-size: $font-size-sub-text;
      font-weight: 300;
      color: $font-color-bright;
      opacity: 0.5;
    }
  }
  &__button {
    grid-area: send;
    justify-self: start;
    background-color: $color-sandy-brown;
    border: 0;
  }
}
