.details {
  display: grid;
  grid-gap: $gutter-sm;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'offer offer description description description description';

  @media (max-width: $breakpoint-md) {
    grid-template-areas:
      'offer offer offer offer offer offer'
      'description description description description description description';
  }
  &__offer {
    grid-area: offer;
    display: grid;
    grid-gap: $gutter-md;
    justify-items: center;
    align-content: center;
    background: url('assets/best-offer-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 55rem;
  }
  &__offer-text {
    color: $font-color-bright;
    text-transform: uppercase;
    font-size: $font-size-section-heading;
    font-weight: 700;
  }

  &__description {
    grid-area: description;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'content content banner .';
    grid-gap: $gutter-sm;
    background-color: $color-gallery;
    padding: 5rem 4rem;

    @media (max-width: $breakpoint-md) {
      grid-row-gap: 5rem;
      justify-items: center;
      grid-template-areas:
        'content content content content'
        'banner banner banner banner';
      padding: 4rem;
    }
  }

  &__content {
    grid-area: content;
    display: grid;
    grid-gap: $gutter-lg;

    @media (max-width: $breakpoint-md) {
      justify-items: center;
      text-align: center;
    }
  }
  &__banner {
    grid-area: banner;
  }
  &__header {
    font-size: $font-size-sub-heading;
    color: $font-color-heading;
  }
  &__title {
    font-weight: 300;
  }
  &__sub-title {
    color: $font-color-highlight;
    font-weight: 700;
  }
  &__info {
    color: $font-color-muted-dark;
    font-size: $font-size-sub-text;
  }
  &__feature-list {
    color: $font-color-muted;
    font-size: $font-size-sub-text;
    font-style: italic;
    font-weight: 300;
  }
  &__feature {
    margin-bottom: 1rem;
  }
  &__more {
    justify-self: start;
    background-color: $color-blush;

    @media (max-width: $breakpoint-md) {
      justify-self: center;
    }
  }
}
