.events {
  display: grid;
  grid-gap: $gutter-xl;
  justify-content: center;
  grid-auto-columns: 80%;
  background-image: url('assets/events-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  padding: 10rem 0;

  &__filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 7rem;
    grid-gap: $gutter-xs;
  }
  &__option {
    background-color: $color-white;
    color: $font-color-heading;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: $font-size-content-highlight;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $font-color-hover;
    }
  }

  &__list {
    display: grid;
    grid-gap: $gutter-xs;
    background-color: $color-white;
  }
  &__item {
    display: grid;
    grid-gap: $gutter-md;
    grid-template-columns: 1fr 3fr 3fr 2fr;
    grid-template-areas: 'date info timing action';
    justify-items: start;
    align-items: center;
    padding: 1rem 2rem;

    &:nth-child(odd) {
      background-color: $color-gallery;
    }
    &:nth-child(even) {
      background-color: $color-alto;
    }

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'date  info'
        'timing  action';
      place-items: center;
      text-align: center;
      padding: 2rem;
    }
    @media (max-width: $breakpoint-xs) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'date'
        'info'
        'timing'
        'action';
      place-items: center;
      text-align: center;
      padding: 2rem;
    }
  }
  &__date {
    grid-area: date;
    place-self: stretch;
    display: grid;
    grid-gap: $gutter-xs;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
    background-color: $color-casablanca;
    color: $font-color-bright;
    font-size: $font-size-section-heading;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__info {
    grid-area: info;
    display: grid;
    grid-gap: $gutter-xs;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-size-section-heading;
    font-weight: 700;
    color: $font-color-heading;
  }
  &__type {
    font-size: $font-size-sub-text;
    color: $font-color-highlight;
  }
  &__timing {
    grid-area: timing;
    display: grid;
    grid-gap: $gutter-xs;
    justify-items: center;
    color: $font-color-muted-dark;
    font-size: $font-size-text;
    font-weight: 300;
  }
  &__action {
    grid-area: action;
    background: $color-white;
    color: $font-color-heading;
    transition: all 0.6s;

    &:hover {
      transform: translateY(-0.5rem);
      background-color: $color-casablanca;
      color: $font-color-bright;
    }
  }
}
