.footer {
  display: grid;
  grid-template-rows: 8rem;
  place-items: center;
  text-align: center;
  background-color: $color-jet-stream;
  padding: 0 2rem;

  &__link {
    color: $font-color-highlight;
    font-weight: 600;
  }
}
