.testimonials {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  grid-gap: $gutter-xs;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }

  &__banner {
    min-height: 60rem;
    background-image: url('assets/testimonial-left-image.png');
    background-position: center;
    background-size: cover;
  }

  &__list {
    background-image: url('assets/testimonial-bg.png');
    background-position: center;
    background-size: cover;
  }
  &__item {
    display: grid;
    grid-gap: $gutter-xl;
    grid-template-columns: 70%;
    min-height: 50rem;
    padding: 3rem 6rem;
    place-content: center;
    justify-items: center;
    text-align: center;
  }
  &__avatar {
    width: 14rem;
    height: 14rem;
    background-image: url('assets/author_01.png');
    background-position: center;
    background-size: cover;
  }
  &__profile {
    display: grid;
    grid-gap: $gutter-xs;
  }
  &__designation {
    font-size: $font-size-sub-text;
    color: $font-color-highlight;
    font-style: italic;
  }
  &__name {
    font-size: $font-size-content-highlight;
    font-weight: 700;
    text-transform: uppercase;
    color: $font-color-heading;
  }
  &__quote {
    font-size: $font-size-content-highlight;
    font-weight: 300;
    font-style: italic;
    color: $font-color-muted;
  }
}
